﻿@model WeatherApp.Models.WeatherModel

<h2>Index</h2>

<p>City name: @Model.CityName</p>

<p>Temperature: @Model.Temperature C</p>

<p>Pressure: @Model.Pressure hPa</p>

<p>Humidity: @Model.Humidity %</p>

