﻿@{
    ViewData["Title"] = "Home Page";
}
<p><!--empty space--></p>
<form method="post" action="Weather">
    City name:
    <input type="text"
           id="cityName" name="CityName" value="" /> <br>
    <input type="submit" value="Check current weather">
    <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />
</form>